<div ng-controller="calendarController">
    <link rel="stylesheet" href="css/calendar.css">
    <div class="checkbox">
        <lable><input id="edit-events" type="checkbox" ng-model="editEventS">
            Create Events For Calender
        </lable>
    </div>
    <div id="calendar-container">
        <div id="calendar-header">
            <span ng-click="nextPrevMonth()" class="prev" style="float: left;"> &lang; </span>
            <span id="calendar-month-year"></span>
            <span ng-click="nextPrevMonth()" class="next" style="float: right;"> &rang; </span>
        </div>
        <div id="calendar-dates">
        </div>
    </div>

    <div class="popup" ng-show="showEventpopup">
        <div class="popup-container">
            <div class="close-popup text-right" ng-click="showEventpopup = false">X</div>
            <div class="popup-main-container">
                <form name="eventForm" ng-show="editEventS">
                    <div class="form-group">
                        <input type="datetime" ng-model="dataTime" class="form-control"
                               placeholder="Enter event time {{eventDate}} 00:00:00" min="{{eventDate}} 00:00:00"
                               max="{{eventDate}}T24:00:00" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="eventVal" placeholder="Enter Event Detail"
                               required>
                    </div>
                    <div class="text-center">
                        <input type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary" value="Submit" ng-click="submitEvent()">
                    </div>
                </form>
                <div class="event-detail" ng-hide="editEventS">
                    <div class="" ng-repeat="events in eventData | filter: eventDate">
                        <div class="eventTime">Event Time : {{events.eventTime}}</div>
                        <div class="eventTime">Event Detail : {{events.eventDetail}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/calendar.js">
    </script>
</div>